# .gitignore for the project

# General
.vscode
node_modules/
EXAMPLE/
EXAMPLE_CODE/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment files (ignore all .env files except .example)
.env
.env.local
.env.*.local
**/.env
!.env.example
!**/.env.example
